<% provide(:title, "User - #{@user.username}") %>

<div class="user">
  <div class="user-avatar">
    <%= user_avatar(@user) %>
  </div>

  <div class="user-container" data-equalizer >
    <div class="user-profile">
      <h3><%= @user.username %></h3>
      <span class="label radius">
        <i class="fa fa-female"></i> <%= pluralize @user.followers.count, 'follower' %>
      </span>
      <span class="label radius">
        <i class="fa fa-male"></i> <%= pluralize @user.followed_users.count, 'followee' %>
      </span>
      <p><%= @user.name %></p>
      <% if current_user && current_user != @user %>
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
      <% end %>
      <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: "button small" %><br>
      <% end %>

      <% if current_user && current_user.admin? && @user != current_user%>
        <%= link_to 'Delete User (Admin Rights)', admin_user_path(@user),
          method: :delete,
          class: "button small alert", data: { confirm: "Are you sure?" } %>
        <%= link_to 'Make user admin', admin_user_path(@user), method: :put, class: "button small", params: { role: "admin" } %>
      <% end %>
    </div>
      <div class="user-follower-list" data-equalizer-watch >
        <h3>Followers</h3>
          <ul class="user-follow-block center">
            <% @user.followers.each do |user| %>
              <li>
                <div class="user-lackey">
                  <%= link_to user_avatar(user), user_path(user) %><br>
                  <%= link_to user.username, user_path(user) %>
                </div>
              </li>
            <% end %>
          </ul>
      </div>
      <div class="user-following-list" data-equalizer-watch >
        <h3>Following</h3>
        <ul class="user-follow-block center">
          <% @user.followed_users.each do |user| %>
            <li>
              <div class="user-lackey">
                <%= link_to user_avatar(user), user_path(user) %><br>
                <%= link_to user.username, user_path(user) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
  </div>


  <div class="user-reviews-votes">
  <% unless @user.reviews.empty? %>
    <h2>Reviews</h2>

    <ul class="no-bullet user-review-container">
      <% @user.reviews.each do |review| %>
        <li class="user-review-title">
          <% if review.episode.has_upvote_from?(@user) %>
            <%= fa_icon "thumbs-up", class: "thumb-up" %>
          <% elsif review.episode.has_downvote_from?(@user) %>
            <%= fa_icon "thumbs-down", class: "thumb-down" %>
          <% else %>
            <%= fa_icon "comment-o" %>
          <% end %>
          <%= link_to review.episode.title, episode_path(review.episode) %>
          <p><%= render_markdown(review.body) %></p>
          <% unless review == @user.reviews.last %>
            <hr>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% unless @user.voted_episodes.empty? %>
    <h2>Votes</h2>
    <ul class="no-bullet small-block-grid-4">
      <% @user.voted_episodes.each do |episode| %>
        <li>
          <div class="user-vote-container">
            <div class="user-vote-thumb">
              <% @user.votes.each do |vote| %>
                <% if vote.voteable_id == episode.id %>
                  <% if vote.value == 1 %>
                    <%= fa_icon "thumbs-up", class: "thumb-up" %>
                  <% elsif vote.value == -1 %>
                    <%= fa_icon "thumbs-down", class: "thumb-down" %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <%= link_to "#{episode.title}", episode_path(episode) %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to 'Back', :back, class: "button secondary"%>
  </div>
</div>
