<% provide(:title, "User - #{@user.username}") %>

<h3>Username: </h3>
<%= @user.username %>
<h1><%= @user.email %></h1>
<h1><%= @user.name %></h1>
<%= user_avatar(@user)%><br>
<%= button_to "Follow #{@user.username}", user_follow_path(@user), method: :put, params: { followed_user: @user } %>

<% if @user == current_user %>
  <%= link_to 'Edit Information', edit_user_registration_path, class: "button" %><br>
  <%= link_to 'Back', :back, class: "button secondary"%>
<% end %>
<% if current_user && current_user.admin? && !@user.admin?%>
  <%= button_to 'Delete User (Admin Rights)', admin_user_path(@user),
    method: :delete,
    class: "button", data: { confirm: "Are you sure?" } %>
  <%= button_to 'Make user admin', admin_user_path(@user), method: :put, params: { role: "admin" } %>
<% end %>
