
<ul class="no-bullet small-block-grid-2">
  <% @episodes.each do |episode| %>
    <li class="episode-container">
      <% if episode.season == 0 %>
        <div class="episode">
          <%= link_to episode.title, episode %> <span class="label alert">Special</span><br>
          <div class="episode-url">
          <span class="label radius secondary"><%= "#{episode.reviews.count} reviews" %></span>
            <span class="label radius"><%= link_to 'See Episode', "#{episode.url}" %></span>
          </div>
        </div>
      <% else %>
        <div class="episode">
          <%= link_to episode.title, episode %> - <%= "S#{episode.season}E#{episode.episode_number}" %><br>
          <div class="episode-url">
            <span class="label radius secondary"><%= "#{episode.reviews.count} reviews" %></span>
            <span class="label radius"><%= link_to 'See Episode', "#{episode.url}" %></span>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
<%= paginate @episodes %>

<% if current_user && current_user.admin? %>
  <%= link_to "Create", new_episode_path, class: "button" %>
<% end %>
