<% provide(:title, "Episode - #{@episode.title}") %>

<div class="episode-info-wrapper">
  <h3><%= @episode.title %></h3><br>
  <p>Season: <%= @episode.season == 0 ? "Special" : @episode.season %> </p>
  <p>Episode: <%= @episode.episode_number %></p>
  <p>Release Date: <%= @episode.release_date %></p>
  <p>Synopsis: <%= @episode.synopsis %></p>

  <% if @episode.url %>
    <%= link_to 'See Episode', @episode.url, class: "button", target: "_blank" %>
  <% end %>

  <% if current_user %>
    <p>User score: <%= @episode.vote_score %> </p>
    <div class="vote-container">
      <% if @episode.vote_score > 0 %>
        <%= link_to fa_icon("thumbs-up 3x"), episode_vote_path(@episode, 1), method: :put %>
      <% else %>
        <%= link_to fa_icon("thumbs-o-up 3x"), episode_vote_path(@episode, 1), method: :put %>
      <% end %>
      <% if @episode.vote_score < 0 %>
        <span class="vote-down">
          <%= link_to fa_icon("thumbs-down 3x"), episode_vote_path(@episode, -1), method: :put %>
        </span>
      <% else %>
        <span class="vote-down">
          <%= link_to fa_icon("thumbs-o-down 3x"), episode_vote_path(@episode, -1), method: :put %>
        </span>
      <% end %>
    </div>
  <% end %>
</div>

<h3>Reviews by Users</h3>
<div class="episode-review-wrapper">
  <% @reviews.each do |review| %>
    <%= link_to review.user.username, user_path(review.user) %> said: <br>
    <%= review.body %><br>
    <% if current_user == review.user %>
      <%= link_to 'Edit Review', edit_episode_review_path(@episode, review), class: "button tiny radius" %>
      <%= link_to 'Delete Review', [@episode, review], method: :delete, data: { confirm: 'Are you sure?'}, class: "button tiny alert radius"%><br>
    <% end %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "Add Review", new_episode_review_path(@episode), class: "button" %><br>
<% else %>
  <p>Want to write a review? Please <%= link_to "Sign in!", new_user_session_path, class: "button small" %></p>
<% end %>

<% if current_user && current_user.admin? %>
  <%= link_to "Edit", "/episodes/#{@episode.id}/edit", class: "button small radius" %>
  <%= link_to "Delete", @episode, class: "button small alert radius", method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>

<%= link_to 'Back', root_path, class: "button secondary small" %>
