<% provide(:title, "Episode - #{@episode.title}") %>

<div class="episode-info-wrapper">
  <h3><%= @episode.title %></h3><br>
  <p>Season: <%= @episode.season == 0 ? "Special" : @episode.season %> </p>
  <p>Episode: <%= @episode.episode_number %></p>
  <p>Release Date: <%= @episode.release_date %></p>
  <p>Synopsis: <%= render_markdown(@episode.synopsis) %></p>
  <p>User score: <%= @episode.vote_score %> </p>

  <% if @episode.url %>
    <%= link_to 'See Episode', @episode.url, class: "button", target: "_blank" %>
  <% end %>

  <% if current_user %>
    <div class="vote-container">
      <% if @vote && @vote.value > 0 %>
        <%= link_to fa_icon("thumbs-up 3x"), episode_vote_path(@episode, 1), method: :put, id: "thumb-up" %>
      <% else %>
        <%= link_to fa_icon("thumbs-o-up 3x"), episode_vote_path(@episode, 1), method: :put, id: "thumb-up" %>
      <% end %>
      <% if @vote && @vote.value < 0 %>
        <span class="vote-down">
          <%= link_to fa_icon("thumbs-down 3x"), episode_vote_path(@episode, -1), method: :put, id: "thumb-down" %>
        </span>
      <% else %>
        <span class="vote-down">
          <%= link_to fa_icon("thumbs-o-down 3x"), episode_vote_path(@episode, -1), method: :put, id: "thumb-down" %>
        </span>
      <% end %>
    </div>
  <% end %>
</div>
<% if current_user %>
  <% if current_user.favoriting?(@episode) %>
    <%= render 'unfavorite' %>
  <% else %>
  <%= render 'favorite' %>
  <% end %>

<% end %>
<h3>Reviews by Users</h3>
<% unless @reviews.empty? %>
  <div class="episode-review-wrapper">
    <ul class="no-bullet user-review-container">
      <% @reviews.each do |review| %>
        <% unless review == @reviews.first %>
          <hr>
        <% end %>
        <li>
          <%= render_markdown(review.body) %><br>
          <div class="review-user-profile">
            <div class="review-icon">
            <% if review.episode.has_upvote_from?(review.user) %>
              <%= fa_icon "thumbs-up 2x", class: "thumb-up" %>
            <% elsif review.episode.has_downvote_from?(review.user) %>
              <%= fa_icon "thumbs-down 2x", class: "thumb-down" %>
            <% else %>
              <%= fa_icon "comment-o 2x" %>
            <% end %>
            </div>
            <div class="episode-user-review">
            <%= user_avatar(review.user) %>

            <%= link_to review.user.username, user_path(review.user) %><br>
            <span class="review-created-time"><%= review.created_at %></span>
            </div>
          </div>
        <% if current_user == review.user || current_user.admin? %>
          <%= link_to 'Edit Review', edit_episode_review_path(@episode, review), class: "button tiny radius" %>
          <%= link_to 'Delete Review', [@episode, review], method: :delete, data: { confirm: 'Are you sure?'}, class: "button tiny alert radius"%><br>
        <% end %>
        </li>
        <% end %>
    </ul>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Add Review", new_episode_review_path(@episode), class: "button" %><br>
<% else %>
  <p>Want to write a review? Please <%= link_to "Sign in!", new_user_session_path, class: "button small" %></p>
<% end %>

<% if current_user && current_user.admin? %>
  <%= link_to "Edit", edit_episode_path(@episode), class: "button small radius" %>
  <%= link_to "Delete", @episode, class: "button small alert radius", method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>

<%= link_to 'Back', root_path, class: "button secondary small" %>
