<h3><%=@episode.title%></h3><br>
<p>Season: <%=@episode.season == 0 ? "Special" : @episode.season%> </p>
<p>Episode:<%=@episode.episode_number%></p>
<p>release date: <%=@episode.release_date%></p>
<p>synopsis: <%=@episode.synopsis%></p>
