<div class="episode-votes">
  <div class="vote-container">
    <% if @vote && @vote.value > 0 %>
      <%= link_to fa_icon("thumbs-up"), episode_vote_path(episode, 1), method: :put %>
    <% else %>
      <%= link_to fa_icon("thumbs-o-up"), episode_vote_path(episode, 1), method: :put %>
    <% end %>
    <div class="vote-count"><%= episode.vote_score %></div>
    <% if @vote && @vote.value < 0 %>
      <span class="vote-down">
        <%= link_to fa_icon("thumbs-down"), episode_vote_path(episode, -1), method: :put %>
      </span>
    <% else %>
      <span class="vote-down">
        <%= link_to fa_icon("thumbs-o-down"), episode_vote_path(episode, -1), method: :put %>
      </span>
    <% end %>
  </div>
</div>
