<!DOCTYPE html>
<html>
<head>
  <title>SouthParReviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if signed_in? %>
  <%=current_user.email %>
  <%= link_to "Sign out", destroy_user_session_path, data: {method: get} %>
  <%end%>
<%= yield %>

</body>
</html>
