<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>South Park Reviews | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'South Park Reviews', root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul>
          <div class="show-for-large-up">
            <li><%= image_tag('sign.png', class: "char-img") %></li>
            <li><%= image_tag('cartman.png', class: "char-img") %></li>
          </div>
          <li class="divider space"></li>
          <li class="has-dropdown">
            <a href="#">Sort By</a>
            <ul id="hover1" class="dropdown" data-dropdown-content>
              <li>
                <a href="#" data-options="align:right" data-dropdown="drop">Find Season &raquo;</a>
                <ul id="drop" class="f-dropdown" data-dropdown-content aria-hidden="true">
                  <li><%= link_to 'Special', root_path({ season: 0 }) %></li>
                  <% (1..18).each do |i| %>
                    <li><%= link_to "Season #{i}", root_path({ season: "#{i}"}) %></li>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to "Newest Episode", root_path({ newest: true }) %></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li>
            <%= form_tag episodes_path, method: 'get', class: "has-form" do %>
              <div class="row collapse">
                <div class="large-8 small-9 columns">
                  <%= text_field_tag :search, nil, placeholder: "Search episodes" %>
                </div>
                <div class="large-4 small-3 columns">
                  <%= submit_tag "Search", name: nil, class: "alert button expand" %>
                </div>
              </div>
            <% end %>
          </li>
          <li class="divider"></li>
          <div class="show-for-large-up">
            <li><%= image_tag('kyle.png', class: "char-img") %></li>
            <li><%= image_tag('stan.png', class: "char-img") %></li>
            <li><%= image_tag('kenny.png', class: "char-img") %></li>
            <li class="show-for-xlarge-up"><%= image_tag('butters.png', class: "char-img") %></li>
          </div>
        </ul>
        <ul class="right">
          <li class="show-for-large-up"><%= image_tag('awesomo.png', class: "char-img") %></li>
          <li class="divider"></li>

          <% if signed_in? %>
            <li class="show-for-large-up"><%= user_avatar(current_user) %></li>
            <% if current_user.admin? %>
              <% unless current_user.followed_users.empty? %>
                <li class="has-dropdown">
                  <%= link_to "#{current_user.username} (Admin)", user_path(current_user) %>
                  <ul id="hover1" class="dropdown" data-dropdown-content>
                    <li>
                      <% current_user.followed_users.each do |user| %>
                        <li><%= link_to user.username, user_path(user) %></li>
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "#{current_user.username} (Admin)", user_path(current_user) %></li>
              <% end %>
            <% else %>
              <% unless current_user.followed_users.empty? %>
                <li class="has-dropdown">
                  <%= link_to current_user.username, user_path(current_user) %>
                  <ul id="hover1" class="dropdown" data-dropdown-content>
                    <li>
                      <% current_user.followed_users.each do |user| %>
                        <li><%= link_to user.username, user_path(user) %></li>
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to current_user.username, user_path(current_user) %></li>
              <% end %>
            <% end %>
            <li class="divider"></li>
            <li class="active show-for-large-up">
              <%= link_to 'Sign out', destroy_user_session_path, data: {method: 'delete'} %>
            </li>
          <% else %>
            <li class="active">
              <%= link_to 'Sign In', new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </section>
    </nav>

    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert-box"><%= flash[:alert] %></p>
    <% end %>

    <div class="row">
      <div class="small-12 columns">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
